* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}
body {
  font-family: "Merriweather", sans-serif;
}

.Login {
  display: flex;
  flex-direction: column;

  padding: 1em;
  border: 0.5em solid #000;
  border-radius: 0.1em;

  h1 {
    text-align: center;
    // color: #777;
    margin: 0 0 1em;
  }

  label {
    opacity: 0.8;
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  input {
    font-size: 1em;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    // border: 0.1em solid #777;
    // border-radius: 0.25em;
    background-color: #dddddd;
    border: none;
    font-weight: 700;
  }
  button {
    box-shadow: none;
    border: 0.25em solid #777;
    // border-radius: 0.25em;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background: #777;

    &:hover {
      background: #ccc;
      cursor: pointer;
    }
  }
}
